<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuist.power.mapper.UserPayInfoMapper">

    <select id="findAllUser" resultType="com.nuist.power.bean.UserPayInfo">
        select *
        from user_pay_info
    </select>

    <insert id="insert" parameterType="com.nuist.power.bean.UserPayInfo">
        insert into user_pay_info(user_id, pay_date, pay_money)
        values (#{userId,jdbcType= VARCHAR}, #{payDate,jdbcType=DATE}, #{payMoney,jdbcType=DOUBLE})
    </insert>

    <select id="getAvgSal" resultType="java.lang.Double">
        select round(avg(pay_money), 2)
        from user_pay_info
    </select>

    <!--计算所有用户的缴费总金额-->
    <select id="getAllUserTotalPayMoney" resultType="java.lang.Double">
        select round(sum(pay_money))
        from user_pay_info
    </select>

    <!--计算该用户总缴费金额-->
    <select id="getUserTotalPayMoney" resultType="java.lang.Double">
        SELECT sum(pay_money)
        from user_pay_info
        where user_id = #{userId}
    </select>

    <select id="getAvgPayCount" resultType="java.lang.Double">
        select round(sum(a.user_pay_count) / count(a.user_id), 2) user_avg_pay_count
        from (select user_id, count(user_id) user_pay_count
              from user_pay_info
              group by user_id) a
    </select>

    <select id="getSingleUserPayCount" resultType="java.lang.Integer">
        select count(*)
        from user_pay_info
        where user_id = #{userId}
    </select>

    <select id="getUserPayListGroupByUserId" resultType="com.nuist.power.bean.UserPayInfo">
        select user_id, pay_date, pay_money
        from user_pay_info
        group by user_id, pay_date
    </select>

    <!--计算该用户的平均缴费金额-->
    <select id="getSingleUserAvgPayMoney" resultType="java.lang.Double">
        select round(sum(pay_money) / count(*),2)
        from user_pay_info
        where user_id = #{userId}
    </select>

    <!--计算出所有的用户id-->
    <select id="getAllUserIds" resultType="java.lang.String">
        select distinct (user_id)
        from user_pay_info
    </select>

    <!--查询出用户的最高缴费金额-->
    <select id="getUserMaxPayMoney" resultType="double">
        select max(pay_money)
        from user_pay_info
        where user_id = #{userId}
    </select>

    <!--查询出用户的最低缴费金额-->
    <select id="getUserMinPayMoney" resultType="double">
        select min(pay_money)
        from user_pay_info
        where user_id = #{userId}
    </select>


</mapper>
